<div id="container">

  <div id="header">
    <div id="openMenu" onclick="showMenu()">|||</div>
    <div id="logo">...</div>
  </div>

  <div id="horizontalBar">
    <div id="horizontalMenu">
      <ul>
          <a routerLink="" routerLinkActive="active"><li>Home</li></a>
          <a routerLink="/invitatie" routerLinkActive="active"><li>Confirma participarea</li></a>
          <a routerLink="/aboutus" routerLinkActive="active"><li>Despre noi</li></a>
      </ul>
    </div>
  </div>

</div>

<div id="lgMenu">
  <span id="exit" onclick="hideMenu()">&times;</span>
  <ul>
    <li>Link One</li>
    <li>Link Two</li>
    <li>Link Three</li>
  </ul>
</div>