<div id="container">

 <div id="lgMenu">
  <span id="exit" onclick="hideMenu()">&times;</span>
  <ul>
    <li>Link One</li>
    <li>Link Two</li>
    <li>Link Three</li>
  </ul>
 </div>


 <div id="body" class="row">
    <div class="modal"> </div>
   <div>
     <div id="side" class="column side"></div>
      <div id="middle" class="column middle">
        Toţi indicii ROBOR importanţi au revenit miercuri pe creştere, după o zi de stagnare, iar trei dintre aceştia au
        înregistrat un avans important, arată datele afişate de Banca Naţională a României (BNR). ....
    </div>
    <div id="side" class="column side"></div>
  </div>



</div>