label {
    color: rgb(30, 144, 255);
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    outline: none;
    border-color: rgb(131, 136, 141);
    border-style: solid;
    border-width: 1px;
    border-radius:5px;
    color: rgb(30, 144, 255);
    width: 20%;
}
input[type=text], textarea {
    border:             1px solid #DDDDDD;
    margin:             5px 1px 3px 0px;
    outline:            none;
    padding:            3px 0px 3px 3px;
    -webkit-transition: all 0.30s ease-in-out;
       -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
         -o-transition: all 0.30s ease-in-out;
         transition: all 0.30s ease-in-out;
  }
  
  input[type=text]:focus, textarea:focus {
    border:             1px solid rgba(81, 203, 238, 1);
    box-shadow:         0 0 5px rgba(81, 203, 238, 1);
    margin:             5px 1px 3px 0px;
    padding:            3px 0px 3px 3px;
  }

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(30, 144, 255);
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(30, 144, 255);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(30, 144, 255);
  }

  select::-ms-expand {
    /*display: none;*/
    background-color: rgb(30, 144, 255);
    border: none;
    color: #ffffff;
}

#NoOfPersons {
    text-align: center;
    color:#ffffff ; 
    width:45px;
    border-width: 2px; 
    border-style:none;
    border-color: rgb(4, 226, 60);
    box-shadow:rgb(44, 38, 37) 2px 2px 5px; 
    background-color: rgb(30, 144, 255);
    direction:rtl; 
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
}

#NoOfPersons > option{
    font-weight: bolder;
}

.button {
    outline: none;
    background-color:rgb(30, 144, 255);
    border-style: outset; 
    border-color: rgb(30, 144, 255);
    color: #ffffff; 
    border-radius: 8px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding: 10px;
  }

.button:hover{
    box-shadow: rgb(55, 58, 55) 2px 1px 5px; 
    cursor: pointer;
}


@media all and (max-width: 600px) {
    input {width: 70%;}
  }


 