<form style="text-align:center;">
  <div style="display: block">
    <div>
      <label for="Name" style="padding-right:10px;">X</label>
      <input id="Name" type="text" formControlName="name" placeholder="X">
    </div>
    <div>
      <label for="Name" style="padding-right:10px;">Y</label>
      <input id="Name" type="text" formControlName="name" placeholder="Y">
    </div>
    <div>
      <label for="Name" style="padding-right:10px;">Z</label>
      <input id="Name" type="text" formControlName="name" placeholder="Z">
    </div>

      
      <div>
          <label for="NoOfPersons" style="padding-right:10px;" value="w">Numar persoane</label>
      <select id="NoOfPersons">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
  </div>

  <button class="button" id="sendResponse" type="button">Trimite raspuns</button>

</form>