<!DOCTYPE html>
<html lang="ro">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>

<body onload="setSize(); setCookies();acnowledgeViewedMsg();" onresize="setSize();">

  <a href="#showmenu" style="text-decoration:none; " onmouseover="unrotateBars();" onclick="showMenu();">
    <div id="menuSign" style="position: fixed; z-index: 98; right: 2%; top: 20px; ">

      <div id="bar1"></div>
      <div id="bar2"></div>
      <div id="bar3"></div>

    </div>
  </a>


  <div id="menuBar">
    <a id="closeMenu" href="#exit" onclick="hideMenu()">
      <div id="x"
        style="margin-left: 170px;right: 0; width: 40px; height: 30px;padding-top: 10px;">
        X
      </div>
    </a>
    <div class="menuItem"><a href="#timeLeft">Cat timp mai avem?</a></div>
    <div class="menuItem"> <a href="#invitePresentation">Prezentare gazde</a></div>
    <div class="menuItem"> <a href="#locationDescription">Locatie</a></div>
    <div class="menuItem"> <a href="#subscribeToEvent">Confirmare</a></div>
  </div>

  <div id="content">


    <div id="timeLeft" style="text-align: center;">
      <!--<div
        style="text-align: left;padding:20px; margin-left: 30px; color: rgba(252, 8, 101, 0.5); font-family: Pintagram; font-size: 1.5em; position: relative;">
        E oferta 2 in 1 (botez si nunta) &#9786;
      </div-->


      <div class="eventNameMain" style="padding-top: 20px">
        <div>Alina &#9825; Claudiu</div>
        <div>&</div>
        <div style="font-size:0.6em;">&#9825;micuta Adina - Maria&#9825;</div>
        <br>

      </div>


      <div class="roundBadge">
        <div class="counterUnitFontSize" id="days">_</div>
        <div class="timeunittag">ZILE</div>
      </div>

      <div class="roundBadge">
        <div class="counterUnitFontSize" id="hours">_</div>
        <div class="timeunittag">ORE</div>
      </div>

      <div class="roundBadge">
        <div class="counterUnitFontSize" id="minutes">_</div>
        <div class="timeunittag">MINUTE</div>
      </div>

      <div class="roundBadge">
        <div class="counterUnitFontSize" id="seconds">_</div>
        <div class="timeunittag">SECUNDE</div>
      </div>
      <br>
      <a href="#invitePresentation">
        <div class="roundBadge"
          style="width: 10px; text-align: center; background-color: white; color: rgb(238, 16, 16)">
          &#8659;

        </div>
      </a>

    </div>


    <div id="invitePresentation" style="text-align: center;">
      <div class="eventName eventPurposeName">  
        Evenimentul nostru!
      </div>

      <div style="color: black; font-family: Arial, Helvetica, sans-serif; font-size: 1em;">
        24 August 2019, Bucuresti
      </div>
      <br>
      <div class="eventName" style=" font-size: 0.3">
            Te rugam sa ne fii alaturi cand ne vom uni destinele in fata lui Dumnezeu.
        <br>In aceeasi zi o vom boteza pe micuta noastra, Adina - Maria.
      </div>

      <img class="imgHost" src="/src/assets/images/claudiu.jpg" style="text-align: center;">

      <div class="eventName "
        style="color: rgb(238, 16, 16); padding-top: 0px; margin: 0px; font-family: Pintagram; font-size: 2em;">
        Claudiu
      </div>


      <div class="eventName" style=" font-size: 0.3">
        Ar fi multe de spus dar incepand din aceasta zi nu va mai fi despre mine, ci despre noi. <br>Asa ca te invit cu mare drag sa petrecem impreuna si sa avem ce povesti.
      </div>
      <br>

      <img class="imgHost" src="/src/assets/images/alina.jpg" style="text-align: center; padding-top: 10px;">

      <div class="eventName"
        style="color: rgb(238, 16, 16); padding-top: 0px; margin: 0px; font-family: Pintagram; font-size: 2em;">
        Alina
      </div>


      <div class="eventName" style="  font-size: 0.3">
        As fi foarte bucuroasa daca vom putea marca acest eveniment impreuna!
      </div>

      <img src="/src/assets/images/baby.png" style="text-align: center; padding-top: 10px;">

      <div class="eventName"
        style="color: rgb(238, 16, 16); padding-top: 0px; margin: 0px; font-family: Pintagram; font-size: 2em;">
        Adina - Maria
      </div>


      <div class="eventName" style=" font-size: 0.3">
        Sunt o fetita super simpatica, am energie cat mami si tati impreuna, imi plac plimbarile prin parc, 
        iar restul veti descoperi daca veti dori sa ma cunoasteti.
      </div>
<br><br>
      <div style="height: 3px; background-color:crimson;"></div>

      <div class="eventName" style=" font-size: 1.5em; color:crimson; margin: 0; padding-top: 20px;padding-bottom: 0px;">
        Impreuna cu simpaticii nostri nasi
      </div>

      <div class="eventName" style=" font-size: 1.5em; color:crimson; padding:0px;">
        Claudia & Adrian Manole
      </div>
      <div style="height: 3px; background-color:crimson;"></div>
      <br>
    </div>
    <!--end invitePresentation-->


    <div id="locationDescription"
      style="text-align: center;  position: relative;  padding-bottom: 20px;">

      <div class="eventName eventPurposeName" style="color:#ffffff;">
          <br>
           Evenimente
      </div>

      <div id="eventList" style="margin: auto; display: block; width: 75%; height: 100%;">

        <div style="display: block;
             border-color: #ffffff;
             border-radius: 5px 5px 5px 5px; 
             <!--box-shadow: 5px 5px 1px rgb(255, 255, 255); -->
             font-family: Signatura Monoline; 
             font-size: 2em; color: #ffffff; 
             font-weight: bold; padding-top: 10px; 
             width: 100%; height: 40%; 
             <!--background-color: rgba(255, 255, 255, 0.8); -->
             border: solid 1px;
             ">
             
          <div>Cununia religioasa</div>
          <div style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
            Biserica Mihai Voda <br>
            <a href="#loc2" style="font-size: 0.5em; color: inherit;text-decoration: none;"><span>
                (Nu uita de petrecere &#8659;)
              </span> </a>
          </div>
          <div id="timeDate">
            <div>
              <span id="date" style="padding-right:90px;">🗓</span>
              <span id="time">🕛</span>
            </div>
            <div>
              <span id="dateValue" style="padding-right:65px;">24.08.2019</span>
              <span id="timeValue" style="padding-right:35px;">12:00</span>
            </div>
          </div>
          <div style=" display: inline-block;width:100%; height: 60%; padding-top:5px;">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2849.077801265878!2d26.091065615897183!3d44.43156627910242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff6a0abb20e7%3A0xa4ca98e39dc3d9fe!2sBiserica+Mihai+Vod%C4%83!5e0!3m2!1sro!2sro!4v1559376529533!5m2!1sro!2sro"
              width="90%" height="60%" frameborder="0" style="border: solid 1px black;" allowfullscreen></iframe>
            <div><button onclick="window.open('https://goo.gl/maps/N8fbexS1JxEkoj4o8', '_blank');" class="navigate">Navigheaza</button><br></div>

          </div>

        </div>
        <div><br></div>
        <div id="loc2" style="display: block;
        border-color: #ffffff;
        border-radius: 5px 5px 5px 5px; 
        <!--box-shadow: 5px 5px 1px rgb(255, 255, 255); -->
        font-family: Signatura Monoline; 
        font-size: 2em; color: #ffffff; 
        font-weight: bold; padding-top: 10px; 
        width: 100%; height: 40%; 
        <!--background-color: rgba(255, 255, 255, 0.8); -->
        border: solid 1px;
        ">
          <div>Petrecerea</div>
          <div style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Restaurant Elisabeta</div>
          <div>
            <span id="date" style="padding-right:90px;">🗓</span>
            <span id="time">🕓</span>
          </div>
          <div>
            <span id="dateValue" style="padding-right:65px;">24.08.2019</span>
            <span id="timeValue" style="padding-right:35px;">16:00</span>
          </div>

          <div style="display: inline-block; width:100%; height: 45%;">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.933101296157!2d26.091893615897224!3d44.43453447910222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff43cdd9a779%3A0xc9f16c8255ac5b2c!2sRestaurant+Elisabeta!5e0!3m2!1sro!2sro!4v1559376879992!5m2!1sro!2sro"
              width="90%" height="60%" style="border: solid 1px black;" frameborder="0" allowfullscreen></iframe>

          </div>
          <button  onclick="window.open('https://goo.gl/maps/DhjsaA1oh4NkkkUY9', '_blank');" class="navigate">Navigheaza</button>
          <br>
        </div>



      </div>
      <div id="purpose">

      </div>

    </div>










    <div id="subscribeToEvent">
      <div class="eventName eventPurposeName">
        <br>
        Confirmare
      </div>

      <div style="color: rgb(158, 154, 154); 
        font-family: Arial, Helvetica, sans-serif; 
        font-size: 1em;
        padding-bottom: 20px;">
        Te asteptam cu drag!
        <br>Completeaza formularul de mai jos pentru a ne anunta decizia ta.


        <div>
          <br>

          <div class="dropdown">

            <button class="dropbtn" onclick="showPersons();">Numar de persoane</button>
            <div class="dropdown-content">
              <a href="#0" onclick="setPersons(0)">0</a>
              <a href="#1" onclick="setPersons(1)">1</a>
              <a href="#2" onclick="setPersons(2)">2</a>
              <a href="#3" onclick="setPersons(3)">3</a>
              <a href="#4" onclick="setPersons(4)">4</a>
              <a href="#5" onclick="setPersons(5)">5</a>
              <a href="#6" onclick="setPersons(6)">6</a>
              <a href="#7" onclick="setPersons(7)">7</a>
              <a href="#8" onclick="setPersons(8)">8</a>
            </div>
          </div>
          <br>
          <input id="noOfSelPers" type="text" disabled style="padding: 10px; text-align: center; width: 10px;" value=0>

        </div>



      </div>


      <div style="display: block; position: relative;">

        <textarea id="mentions" style="border-color: crimsom; width:300px; height:300px;"
          placeholder=" Vrei sa ne transmiti ceva?"></textarea>
      </div>
      <br><br>
      <div id="confirmParticipationBtn">
        <button onclick="sendConfirmEmail();"
          style="outline:none; width: 150px; height: 30px; color: #ffffff; background-color: rgb(238, 16, 101); border-radius: 10px ;border-color: rgb(238, 16, 101);">Da,
          confirm prezenta</button>
      </div>
      <br>
      <div id="rejectParticipationBtn">
        <button onclick="sendRejectEmail();"
          style="outline:none; width: 150px; height: 30px; color: #ffffff;background-color: #000000;border-radius: 10px; border-color: #49484828;">Nu
          pot sa particip</button>
      </div>

      <!--start footer-->
      <div id="footerEvent">
        Alina &#9825; Claudiu
        <br>&#9825;Adina - Maria&#9825;
        <div style="font-family:'Courier New', Courier, monospace; font-size: 0.7em;">Multumim!</div>
      </div>
      <!--end footer-->

    </div>
    <!--end subscribe to event-->



  </div>





</body>

</html>