* {
    box-sizing: border-box;
  }

body{
    
     font-family: sans-serif;
     background-color: rgb(0, 0, 0);
     color: #ffffff;

   }
   #body{
       padding: 10px;
   }


   #openMenu{
       font-size: 1em;
       font-weight: 800;
       cursor: pointer;
       text-align: center;
       transition: all 0.5s;
       z-index: 111;
       -webkit-transition: all 0.25s;
       color: #00936E;

   }

   #header{
        display: grid;
        grid-template-columns: 3% 95%;
        grid-gap: 10px;
        background-color: #ffffff;
        padding-bottom: 20px;
        padding-top:20px;
        padding-left: 20px;
        
        
   }

   #header > div {
    font-size: 30px;
  }

   #logo{
       color: #00936E;
       font-family: 'Pacifico', cursive;
       text-align: left;
       padding-left: 10px;
   }
   
   #openMenu:hover{
       transform: rotate(90deg);
       color: greenyellow;
   }
   
   #lgMenu ul{
       list-style: none;
       padding: 0;
       background-color: white;
   }
   
   #lgMenu li{
       text-align: center;
       text-transform: uppercase;
       margin-bottom: 5px;
       border-left: solid 2px;
       border-color: greenyellow;
       color: white;
       cursor: pointer;
       background-color: #00936E;
       font-size: 1em;
       letter-spacing: 0.2em;
       transition: all 0.25s;
   }
   
   #lgMenu li:hover, #horizontalMenu li:hover{
       background-color: white;
       color: black;
       letter-spacing: 0.3em;
   }
   
   #lgMenu{
       display: block;
       width: 250px;
       height: 100%;
       top: 0;
       left: -400px;
       overflow:hidden;
       background-color:#ffffff;
       border: solid #ffffff;
       box-shadow: 5px 5px 10px grey;
       position: fixed;
       z-index: 130;
       
       transition: all 1s;
       -webkit-transition: all 1s;
   }
   
   #exit{
       position: relative;
       text-align: right;
       display: block;
       padding: 0px;
       font-size: 2em;
       color: rgb(255, 0, 0);
       background-color: #ffffff;
       font-weight: 500;
       cursor: pointer;
       transition: all 0.25s;
       -webkit-transition: all 0.25s;
   }
   #exit:hover{
       color:#FF9900;
   }
   
   #lgMenu.enter{
       opacity: 1;
       left: 0;
   }

   #horizontalBar{
       width: 100%;
       background-color: greenyellow;
       position: relative;
   }
   
   #horizontalMenu{
    padding: 0;
    top: 0px;
    left: 0px;
    position: relative;
    text-align:left;
    }

    #horizontalMenu ul{
        list-style: none; display: inline;
        
        
    }

   #horizontalMenu li{
    
       border: solid 1 px #00936E;
       border-radius: 9px;
       text-align: center;
       text-transform: uppercase;
       display: inline;
       margin: 10px 0;
       margin-right: 5px;
       padding: 7px;
       color: white;
       cursor: pointer;
       background-color: #00936E;
       font-size: 1em;
       letter-spacing: 0.2em;
       transition: all 0.25s;
   }

   #horizontalMenu li:last-child {
    border-right: none;
  }


  @media all and (max-width: 450px) {
    #horizontalMenu li{ display: block;}
    #horizontalMenu li:last-child {
        border-right: solid;
      }

      #horizontalMenu ul{ position: relative;list-style: none;}
  }