<div id="body" class="row">
  <div class="modal"> </div>
  <div >
    <div id="side" class="column side"></div>
    <div id="middle" class="column middle">
      Toţi indicii ROBOR importanţi au revenit miercuri pe creştere, după o zi de stagnare, iar trei dintre aceştia au
      înregistrat un avans important, arată datele afişate de Banca Naţională a României (BNR).

      Unul dintre motivele acestei creşteri poate fi scăderea lichidităţii, ca urmare a plăţilor de taxe şi impozite
      care se
      face pe finalul lunii ianuarie a fiecărui an.

      Indicele ROBOR la 3 luni, în funcţie de care se calculează costul creditelor de consum în lei cu dobândă
      variabilă, a
      crescut miercuri la 3,03% pe an, de la 2,97% marţi. Acest indice nu a mai fost la acest nivel din data de 24
      decembrie
      2018.

      Indicele ROBOR la 6 luni, utilizat la calculul dobânzilor la creditele ipotecare lei cu dobândă variabilă, a
      crescut
      miercuri la 3,31% pe an, de la 3,28% marţi. Un nivel mai ridicat de atât, respectiv de 3,33%, a fost consemnat la
      data
      de 28 decembrie 2018.

      În acelaşi timp, indicele ROBOR la 9 luni, care reprezintă rata dobânzii plătită la creditele în lei atrase de
      către
      băncile comerciale de la alte bănci comerciale pentru o perioadă de nouă luni, a urcat la 3,41% pe an, de la 3,39%
      marţi, iar recent mai sus de atât, respectiv la 3,42%, a fost la data de 31 decembrie 2018.

      Indicele ROBOR la 12 luni, care reprezintă rata dobânzii plătită la creditele în lei atrase de către băncile
      comerciale de la alte bănci comerciale pentru o perioadă de 12 luni, a crescut la doar 3,50% pe an de la 3,49%
      marţi,
      acelaşi nivel fiind consemnat la data de 3 ianuarie 2019.
    </div>
    <div id="side" class="column side"></div>
  </div>



</div>

